doctype html
html
  head
    title Bengle's demo platform
    meta(name='viewport',countent='initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')
    link(rel="stylesheet",type="text/css",href="/common/bootstrap/css/bootstrap.min.css")
  body
    block content