div.navbar.navbar-inverse.navbar-fixed-top
  div.container
    div.navbar-header
      a.navbar-brand(href='#') Bengle's demo
    div.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.active
          a(href='#') Home